@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli');

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:wght@300&display=swap');



* {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__upper a:nth-child(1) {
    margin-right: 40px;
}

#main {
    z-index: -999 !important
}

body {
    background-color: #f2f7ff;
}

/* header {
    position: fixed;
} */
.header__bottom {
    z-index: -1;
}

.bottom_nav-bar {
    z-index: 0;
}

:root {
    --index: calc(1vh + 1vw);
    --height: 0;
}

.navigation-list {
    display:flex;
    justify-content: left;
    width:100%;
    align-items: center;
}
.navigation-list a {
    margin-right: 50px!important
}
.control-list {
    display:flex;
    justify-content: right;
    width:100%;
    align-items: center;
}
.control-list .reg {
    margin-right: 70px!
}
.header__upper {
    background-color: #fff;
    align-items: center;
    display: flex;
    position: fixed;
    width: 100vw;
    height: 56px;
    z-index: 10;
}

.nav-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.language-select img {
    width: 20px;
    height: 20px;
}

.dropdown-menu {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    float: left;
    padding: 5px 0;
    text-align: left;
    background-clip: padding-box;
    font-size: 14px;
    list-style: none;
    border: none;
    margin-top: -3px;

}

.btn {
    vertical-align: middle;
    padding: 6px 12px;
    border: 1px solid transparent;
    cursor: pointer;
}


.bottom_nav-bar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

/* .bottom_nav-bar a {
    padding: 0 100px !important;
} */

.header__upper a,
.header__bottom a {
    text-decoration: none;
    outline: none;
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
    margin-right: 136px;
    text-transform: uppercase;
}

.upper__logo {
    margin-top: 8px;
    margin-left: 37px;
}

.menu-icon {
    color: white;
    cursor: pointer;
    display: none;
}

main {
    padding-top: 130px
}

div:where(.swal2-container) h2:where(.swal2-title) {
    color: #364364;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: normal;
    letter-spacing: 2.16px;
}

div:where(.swal2-container) .swal2-html-container {
    color: #364364;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: normal;
    letter-spacing: 1.08px;
}

.main-control {
    text-align: center;
    height: fit-content;
    z-index: 0;
}

.main-control h1 {
    word-wrap: break-word;
    width: 100vw;
    color: #364364;
    font-family: Inter;
    /* font-size: 48px!important; */
    font-size: 48px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: normal;
    letter-spacing: 2.16px;
    padding-bottom: 16px;
}


.advantage-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.advantage {
    margin: 60px 35px 5px 35px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 324px;
    height: 100%;
    padding: 36px 36px 48px;
    border-radius: 6px;
    box-shadow: 0 4px 16px rgba(0, 51, 153, .04), 0 2px 2px rgba(0, 51, 153, .08);
    background: #fff;
    transition: box-shadow .2s;
    align-items: center;
}

.advantage,
.tariff-plan {
    transition: .22s ease-in-out !important;
}

.advantage:hover,
.tariff-plan:hover {
    box-shadow: 0 4px 16px rgba(0, 51, 153, .12), 0 2px 2px rgba(0, 51, 153, .16);
    transform: translateY(-5px);
    transition: .22s ease-in-out;
}

.advantage-divider {
    height: 1px;
    width: 100%;
    background: #dfe4ec;
    margin-bottom: 25px
}

.advantage-title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1.08px;
}

.advantage-descript {
    color: #667695;
    font-size: 16px;
    text-align: justify;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: normal;
}

.advantage-icon:not(.dollar) {
    height: 60px;
    width: 60px;
    margin-bottom: 5px
}

.safety {
    background: url(../images/safety.png);
}

.cog {
    background: url(../images/cog.png);
}

.dollar {
    margin-bottom: 5px;
    background: url(../images/dollar.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 60px;
    flex-shrink: 0;
}

.main-control button {
    margin-right: 30px;
    width: 210px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    padding: 6px 50px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    white-space: nowrap;
}

.main-control button:nth-child(1) {
    color: #fff;
    background-color: #1d9ef9;
    transition: background-color .24s ease, color .24s ease;
    
}

.main-control button:nth-child(2)  {
    color: #1d9ef9;
    border: solid 2px !important;
    background-color: #fff;
    border-color: #1d9ef9;
    transition: background-color .24s ease, color .24s ease;
}

.main-control button:hover:nth-child(2){
    color: #fff;
    border: 0;
    background-color: #1d9ef9;
}

.main-control button:hover:nth-child(1) {
    color: #1d9ef9;
    border: solid 2px !important;
    background-color: #fff;
    border-color: #1d9ef9;
}
/* .nav-bar.responsive a:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 20px;
} */
@media screen and (min-width: 890px) {
    .reg {
        color: #fff!important;
        background-color: #1d9ef9;
        transition: background-color .24s ease, color .24s ease;
    }
    .reg:hover {
        color: #1d9ef9!important;
        background-color: #fff;
        border: 2px solid;
        border-color: #1d9ef9;
        text-align: center;
    }
    .reg {
        min-height: 36px!important;
        width: 160px;
    }
    .reg {
        margin-right: 30px;
        width: 210px;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 50px;
        padding: 6px 50px;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
        font-weight: 600;
        white-space: nowrap;
    }
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.675px;
    flex-shrink: 0;
    background: #1D9EF9;
    border: 0;
}

.b-button {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.675px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #1D9EF9;
    box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    text-decoration: none;
}

.b-button:hover {
    background: #36a9fa;
    transition: .22s ease-in-out;
}

.tariff-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.tariff-plan {
    margin: 60px 35px 0 35px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 324px;
    height: 100%;
    padding: 36px 36px 48px;
    border-radius: 6px;
    box-shadow: 0 4px 16px rgba(0, 51, 153, .04), 0 2px 2px rgba(0, 51, 153, .08);
    background: #fff;
    transition: box-shadow .2s;
}

.tariff-plan__price {
    font-size: 36px;
    line-height: 48px;
    font-weight: 600;
    letter-spacing: -.01em;
}

.tariff-plan__upgrade {
    color: #667695;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: normal;
}

.descript__container {
    height: 200px;
}

.tariff-plan__descript {
    font-family: "Inter";
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: normal;
}

.tariff-plan__sss {
    margin-top: 21px;
    position: relative;
    padding-left: 36px;
    color: #667695;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: normal;
    /* font-family: 12px Inter,Arial,Helvetica Neue,Helvetica,FreeSans,sans-serif */
    font-family: 'Arimo'
}

.tariff-plan__sss:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 11px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/infoIcon.png);
}

.tariff-plan__name {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    letter-spacing: normal;
}

.tariff-plan__divider {
    height: 1px;
    margin-top: 13px;
    margin-bottom: 25px;
    background: #dfe4ec;
}

.name__title {
    margin: 66px 0 12px;
    text-align: center;
    font-size: 60px;
    line-height: 68px;
    font-weight: 600;
    letter-spacing: -.02em;
}

.language-ru {
    display: inline-block;
    margin-top: 7px;
    padding: 0 6px;
    line-height: 14px;
    border: none;
    background: 0 0;
    text-decoration: none;
    color: inherit;
    padding-right: 5px !important;
}

.language-ru :hover,
.language-en :hover,
.header__upper a:hover,
.header__bottom a:hover {
    color: #1D9EF9 !important;
    transition: .22s ease-in-out;
}

.language-en {
    display: inline-block;
    margin-top: 7px;
    padding: 0 6px;
    line-height: 14px;
    border: none;
    background: 0 0;
    text-decoration: none;
    color: inherit;
    padding-left: 5px;
    border-left: .15rem solid #000000;
}

.tariff-wrapper {
    margin-top: 15%;
    padding-bottom: 10px;
}

.language-en,
.language-ru {

    height: 20px
}

.Language__text {
    margin-top: 0 !important;
}

.Language {
    margin-bottom: 10px
}

.cookiePopup__wrapper {
    position: fixed;
    width: 100%;
    display: none;
    justify-content: center;
    z-index: 10;
}

.cookiePopup__wrapper.active {
    display: flex;
}

.cookiePopup__container {
    padding: 15px;
    margin: 30px;
    background-color: hsla(0, 0%, 100%, .95);
    display: flex;
    align-items: center;
    box-shadow: 0 0 48px rgba(17, 56, 86, .2);
}

.cookiePopup__content {
    color: #080808;
    line-height: 15px;
    font-size: 12px;
}

.cookiePopup_link {
    display: inline-block;
}

.cookiePopup_link-text {
    color: #1d9ef9 !important;
    cursor: pointer;
    text-decoration: none;
}

.cookiePopup_link-text:hover {
    text-decoration: underline;
}

.cookiePopup__container button {
    margin-left: 50px;
    font-weight: 700;
    color: #000000;
    padding: 10px;
}

.cookiePopup__container button:hover {
    color: #1d9ef9 !important;
}

button,
select {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #000;
}

.accordion {
    width: 1117px;
    margin: 2rem auto;
}

.accordion-item {
    background-color: #f2f4f9;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 4px 16px rgba(0, 51, 153, .04), 0 2px 2px rgba(0, 51, 153, .08);
}

.accordion-item:hover {
    box-shadow: 0 4px 16px rgba(0, 51, 153, .12), 0 2px 2px rgba(0, 51, 153, .16);
    transition: .22s ease-in-out;
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    background: #fff;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    color: #1d9ef9;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #1d9ef9, transparent) 1;
}

footer {
    display: flex;
    width: 100%;
    height: 80px;
    background: #282D40;
}

.accordion {
    margin-bottom: 15%
}

.footer__logo {
    display: flex
}

footer a {
    text-decoration: none;
    color: #1D9EF9;
    text-align: justify;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.63px;
}

.contact {
    display: flex;
    color: #818EA7;
    text-align: justify;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.63px;
}


.footer-info {
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-logo {
    align-items: center
}

.footer-contact {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.contact-container {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer {
    width: 100%;
}

.footer-info {
    width: 100%;
}

.footer-logo {
    padding-top: 7px;
    padding-left: 40px;
}

.footer-copyright-li {
    width: 1000px;
    margin-left: 20px;
    font-weight: 300;
}

.footer-contact {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #818EA7;
    text-align: justify;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.63px;
    margin-right: 15px
}

.footer-copyright__text {
    color: #818ea7;
    font-weight: 300;
}

.footer-contact li {
    list-style: none;
}

@media screen and (max-width: 750px) {

    .footer-info {
        height: 100%;
        align-items: center;
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        flex-wrap: wrap;
    }

    footer {
        display: flex;
        width: 100%;
        height: 197px;
        background: #282D40;
    }

    .footer-contact,
    .footer-copyright-li {
        text-align: center;
        margin-right: 0px;
        justify-content: center;
    }

    .footer-logo {
        margin-left: auto;
        margin-right: auto;
    }

    .main-control h1,
    .main-control h2 {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .control-buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .control-buttons button {
        margin-right: 0;
    }

    .main-control {
        padding-left: 0;
    }
}



@media screen and (max-width: 820) {
    .header__upper {
        width: 90vw
    }

}

@media screen and (max-width: 1400px) {
    .showcase__image {
        height: 70vh;
        width: 1600px;
    }

    .accordion {
        width: 900px
    }
}

@media screen and (max-width: 790px) {
    .showcase {
        margin-left: 0px !important
    }

    .accordion {
        width: 100% !important;
    }
}

@media screen and (max-width: 550px) {
    .showcase {
        margin-top: 10vh
    }
}

@media screen and (max-width: 389px) {
    .showcase {
        margin-top: 10vh
    }
}

@media screen and (max-width: 890px) {
    .navigation-list {
        display:none;
        position:absolute
    }

    .control-list {
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
        height:100px;
        flex-wrap: wrap;
    }

    .control-list a {
        text-align: center;
        width:100%;
    }
    .reg {
        margin: 0!important
    }

    
    .nav-bar .responsive a {
        margin: 0!important
    }
    .footer-logo {
        padding-left: 20px !important;
    }

    .accordion {
        width: 600px
    }

    .scroll-1 {
        height: 630px !important;
    }

    .swiper {
        width: 324px;
        height: 730px;
    }

    .tariff-container,
    .advantage-container {
        justify-content: unset !important;
        margin-top: 0;
        flex-wrap: nowrap;
    }

    .swiper-1 {
        width: 324px;
        height: 461px
    }

    .tariff-plan,
    .advantage {
        width: 324px !important;
        margin: 0;
        justify-content: unset;
    }

    .header__upper a,
    .header__bottom a {
        margin-right: 0 !important
    }

    .name__title {
        font-size: 48px
    }

    #tariff {
        margin-bottom: 66px !important
    }

    .nav-bar {
        display: none;
        position: absolute !important;
        top: 3.7rem;
        left: 0;
        width: 100% !important;
        background-color: var(--bgcolor);
        text-align: center;
    }

    .header__bottom {
        display: none;
        position: absolute;
    }

    .nav-bar.responsive {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #282D40;
        margin-top: -5px;
        width: 100%;
    }

    .nav-bar.responsive a,
    button {
        padding: 0;
        color: #818ea7
    }

    .reg {
        margin-bottom: 10px !important
    }

    .nav-bar.responsive a:nth-child(1) {
        margin-top: 10px
    }

    .showcase {}

    .nav-bar a {
        display: block;
    }

    .main-control {}

    .menu-icon {
        display: block;
        z-index: 1;
        position: absolute;
        right: 0;
        padding-right: 30px !important;
    }

    button {
        padding: 0.4rem;
    }


    .logo {
        font-size: 1.4rem;
    }
}


#dynamicText {
    border-right: .1em solid black;
    animation:
        typing 3s steps(40, end),
        blinking .75s infinite;
}

@keyframes typing {
    from {
        width: fit-content;
    }

    to {
        width: fit-content;
    }
}

@keyframes blinking {

    0% {
        border-color: transparent
    }

    50% {
        border-color: black
    }

    100% {
        border-color: transparent
    }

}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #1D9EF9;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0);
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: #1D9EF9;
    border-radius: 30px;
    border: 3px solid #f2f7ff;
}


.main-intro {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 115px 15px 165px;
    background-color: #f2f7ff;
}

.main-intro:after,
.main-intro:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.main-intro:before {
    top: 0;
    left: 0;
    max-height: 482px;
    max-width: 549px;
    background-image: url(../images/left.png);
    background-position: 0 0;
}

.main-intro__container {
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 130px 20px 170px;
    overflow: hidden;
}

.main-intro__container:before {
    content: "";
    position: absolute;
    top: 12px;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 1068px;
    transform: translateX(-50%);
    background: transparent url(../images/dots.png) no-repeat 50%;
    background-size: contain;
}

.main-intro__title {
    position: relative;
    z-index: 2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 40px;
    font-size: 58px;
    line-height: .9;
    letter-spacing: 0;
    font-weight: 900;
}

._gradient {
    width: 900px;
    text-transform: uppercase;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 800 !important;
    line-height: 80px;
    letter-spacing: 1.08px;
}

.main-intro:after {
    bottom: 0;
    right: 0;
    max-height: 717px;
    max-width: 463px;
    background-image: url(../images/right.png);
    background-position: 100% 100%;
}

#dynamicText {
    width: 1000px;
}

.main__text._gradient span {
    background-color: #2d5bff;
    background-image: conic-gradient(from 86.47deg at 37.42% 192.31%, #702dff 0deg, #702dff 63.75deg, #4a3aff 165.32deg, #2d5bff 250.64deg, #702dff 1turn);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.badge-short {
    z-index: 1;
    position: absolute;
    width: 168px;
    user-select: none;
}

.badge-long {
    z-index: 1;
    position: absolute;
    width: 334px;
    user-select: none;
}

._global {
    right: 350px;
    top: 525px;
}

._digiseller {
    right: 1450px;
    top: 200px;
    transform: rotate(-5deg);
}

._funpay {
    right: 130px;
    /* right: 530px; */
    top: 170px;
    transform: rotate(2deg);
}

._plati {
    right: 1340px;
    top: 560px;
    transform: rotate(-2.5deg);
}


@media screen and (max-width: 1732px) {
    .main__text:not(._gradient) {
        font-size: calc(var(--index) * 2) !important;
        font-weight: 900;
        width: 100%;
        text-align: center;
    }

    ._gradient {
        font-size: calc(var(--index) * 1.4) !important;
        width: 100%;
        margin-top: 20px;
        line-height: normal;
        text-align: center;
    }

    ._funpay {
        right: 0;
        top: 170px;
        transform: rotate(2deg);
    }

    ._plati {
        left: 0;
        top: 560px;
        transform: rotate(-2.5deg);
    }

    ._global {
        right: 0;
        top: 500px;
    }

    ._digiseller {
        left: 0;
        top: 200px;
        transform: rotate(-5deg);
    }
}

@media screen and (max-width: 1290px) {
    ._funpay {
        right: 0;
        top: 170px;
        transform: rotate(2deg);
    }

    ._plati {
        left: 0;
        top: 560px;
        transform: rotate(-2.5deg);
    }

    ._global {
        right: 0;
        top: 500px;
    }

    ._digiseller {
        left: 0;
        top: 200px;
        transform: rotate(-5deg);
    }

    /* .badge-short {
        transform: translate(370px,-80px);
    } */
    .main-intro__title {
        font-size: 48px;
    }
}

@media screen and (max-width: 1100px) {}

@media screen and (max-width: 890px) {
    .sl-nav {
        transform: rotate(90deg);
        top: -10px;
    }
    .flag-ru {
        transform: rotate(-90deg)
    }
    .flag-ua {
        transform: rotate(-90deg)
    }

    .advantage:hover,
    .tariff-plan:hover {
        box-shadow: 0 4px 16px rgba(0, 51, 153, .12), 0 2px 2px rgba(0, 51, 153, .16);
        transform: none;
        transition: .22s ease-in-out;
    }

    .main- {
        font-size: calc(var(--index) * 2.5) !important;
        width: 100%;
        text-align: center;
    }

    ._plati {
        left: -14px;
        top: 741px;
        transform: rotate(-2.5deg);
    }

    ._global {
        right: -25px;
        top: 650px;
    }

    ._funpay {
        right: -55px;
        top: 80px;
        transform: rotate(2deg);
    }

    ._plati {
        left: -14px;
        top: 741px;
        transform: rotate(-2.5deg);
    }
}

@media screen and (max-width: 768px) {
    /* .main-intro__title {
        font-size: 25px;
        width: 100%;
        text-align: center;
    } */

    .main__text:not(._gradient) {
        font-size: calc(var(--index) * 3) !important;
        text-align: center;
    }

    ._gradient {
        text-align: center;
    }

    .main-control button {
        width: 180px;
    }

    ._funpay {
        right: -55px;
        top: 80px;
        transform: rotate(2deg);
    }

    .main-control {
        margin-top: 0px;
        margin-right: 0px;
    }

    .main-control button {
        margin-top: 10px;
    }

    .main-control button {
        margin-bottom: 15px;
        margin-right: 0px;
    }

    ._plati {
        left: -14px;
        top: 741px;
        transform: rotate(-2.5deg);
    }

    ._global {
        right: -25px;
        top: 650px;
    }
}

.sl-nav {
    z-index:999;
    display: inline;
    float:left;
    position: relative;
  }
  .sl-nav ul {
    margin:0;
    padding:0;
    list-style: none;
    position: relative;
    display: inline-flex;
  }
  .sl-nav li {
    cursor: pointer;
    padding-bottom:10px;

  }
  .sl-nav li ul {
    display: none;
  }
  .sl-nav li:hover ul {
    position: absolute;
    top:-15px;
    display: flex;
    left:-112px;
    background: #fff;
    width: 150px;
    padding-top: 0px;
    z-index: 1;
    border-radius:5px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  }
  .sl-nav li ul li {
    position: relative;
    text-align: left;
    background: transparent;
    padding: 15px 15px;
    padding-bottom:0;
    z-index: 2;
    font-size: 15px;
    color: #3c3c3c;
  }
  .sl-nav li ul li:last-of-type {
    padding-bottom: 15px;
  }
  .sl-nav li ul li span {
    padding-left: 5px;
  }
  .sl-nav li ul li span:hover, .sl-nav li ul li span.active {
    color: #146c78;
  }
  .sl-flag {
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
    width: 15px;
    height: 15px;
    background: #aaa;
    border-radius: 50%;
    position: relative;
    top: 2px;
    overflow: hidden;
  }
  .flag-ru {
    background: url('../images/ru.svg');
    background-size: cover;
    background-position: center center;
  }
  .flag-usa {
    background-size: cover;
    background-position: center center;
    background: url('../images/en.svg');
  }
  .flag-ua {
    background-size: cover;
    background-position: center center;
    background: url('../images/ua.svg');
  }

  .current {
    width: 18px;
    height: 18px;
  }

  .footer-contact .sl-nav {
    margin-top:10px;
    margin-right: 30px;
  }